<configuration>
   <system.webServer>
      <staticContent>
         <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
         <mimeMap fileExtension=".webmogv" mimeType="video/webm" />
         <mimeMap fileExtension=".webm" mimeType="video/ogv" />
      </staticContent>
   </system.webServer>
</configuration>